.section-wedo {
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.wedo__heading {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-title-color);
}

.wedo__list {
  display: flex;
  align-items: center;
}

.wedo__item {
  position: relative;
  margin-right: 30px;
  &:last-child {
    margin-right: 0px;
  }
}

.wedo__thumb {
  position: absolute;
  bottom: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 70px;

  background-color: var(--wedothumb-background-color);
}

.wedo__title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-background-color);
}
