body {
  font-family: 'roboto', sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
